<nav class="menu">
    <div class="logo-wrapper">
        <div style="background-image: url({{@user.image}});" class="profile-details"></div>
        <LinkTo @route="profile" @model={{@user}} class="semi-bold">{{@user.firstname}} {{@user.lastname}}</LinkTo>
        <p class="profile-sub"><span>Team:</span> {{@user.teamname}}</p>
    </div>
    
    <ul class="link-list">
        <li><LinkTo @route="home"><FaIcon @icon="home" />Home</LinkTo></li>
        {{!-- <li><LinkTo @route="point-entry"><FaIcon @icon="pen-square" />Point Entry</LinkTo></li> --}}
        <li><LinkTo @route="leaderboard"><FaIcon @icon="table" />Leader Board</LinkTo></li>
        <li><LinkTo @route="totals"><FaIcon @icon="bullseye" />Category Totals</LinkTo></li>
        <li><LinkTo @route="rules"><FaIcon @icon="list" />Rules</LinkTo></li>
    </ul>
</nav>